body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  margin: 0;
}
h1{
  color: rgb(63, 133, 36);
  font-style: italic;
  font-weight: inherit;
  font-size: 3.75rem;
  text-align: center;
  margin: 0;
}
main{
  background-color: white;
  min-width: 500px;
  min-height: 500px;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px #0003 , 0 25px 50px #0000001a;
}
input{
  font-size: 100%;
  width: 100%;
  padding: 8px;
  border: 0;
}
input:placeholder-shown{
  font-style: italic;
}
button{
  background-color: #fff;
  border: 2px solid #0000001a;
  border-radius: 0.5rem;
  padding: 0.5rem;
  white-space: nowrap;
  font-size: 100%;
  cursor: pointer;
}
main>form,
main>div{
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  gap: 0.25rem
}
input[type="checkbox"]{
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
}